<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>RoomFinder</h1>
        <p>Find available rooms easily!</p>
    </header>

    <div class="map-container">
        <img id="map" src="{{ url_for('static', filename='map1.jpg') }}" alt="Map 1">

        <!-- Dot elements with IDs for each map -->
        <div id="dot1" class="dot" data-map-index="0" style="left: 24%; top: 19%;"></div> <!-- Dot for map1 -->
        <div id="dot2" class="dot" data-map-index="0" style="left: 31.3%; top: 18.5%;"></div> <!-- Dot for map2 -->
        <div id="dot3" class="dot" data-map-index="0" style="left: 45%; top: 17.5%;"></div> 
        <div id="dot4" class="dot" data-map-index="0" style="left: 24%; top: 33%;"></div> 
        <div id="dot5" class="dot" data-map-index="0" style="left: 24.7%; top: 46%;"></div> 
        <div id="dot6" class="dot" data-map-index="0" style="left: 25.2%; top: 57.5%;"></div> 
        <div id="dot7" class="dot" data-map-index="0" style="left: 25.6%; top: 67.7%;"></div> 
        <div id="dot8" class="dot" data-map-index="0" style="left: 31.1%; top: 67.3%;"></div> 
        <div id="dot9" class="dot" data-map-index="0" style="left: 31.1%; top: 57.3%;"></div> 
        <div id="dot10" class="dot" data-map-index="0" style="left: 31.1%; top: 46%;"></div> 
        <div id="dot11" class="dot" data-map-index="0" style="left: 31.1%; top: 33%;"></div> 
        <div id="dot12" class="dot" data-map-index="0" style="left: 38.1%; top: 32.5%;"></div> 
        <div id="dot13" class="dot" data-map-index="0" style="left: 44.5%; top: 32.5%;"></div> 
        <div id="dot14" class="dot" data-map-index="0" style="left: 51.8%; top: 32.5%;"></div> 
        <div id="dot15" class="dot" data-map-index="0" style="left: 80%; top: 27.5%;"></div> 
        <div id="dot16" class="dot" data-map-index="0" style="left: 72%; top: 75.7%;"></div> 
        <div id="dot17" class="dot" data-map-index="0" style="left: 79%; top: 75.7%;"></div> 
        <div id="dot18" class="dot" data-map-index="0" style="left: 86%; top: 75.7%;"></div> 
        <div id="dot19" class="dot" data-map-index="1" style="left: 28.5%; top: 10%;"></div> 
        <div id="dot20" class="dot" data-map-index="1" style="left: 32.9%; top: 13%;"></div> 
        <div id="dot21" class="dot" data-map-index="1" style="left: 46.3%; top: 13%;"></div> 
        <div id="dot22" class="dot" data-map-index="1" style="left: 46.4%; top: 28.7%;"></div> 
        <div id="dot23" class="dot" data-map-index="1" style="left: 39.8%; top: 29.7%;"></div> 
        <div id="dot24" class="dot" data-map-index="1" style="left: 32.8%; top: 29.7%;"></div> 
        <div id="dot25" class="dot" data-map-index="1" style="left: 52.5%; top: 29.7%;"></div> 
        <div id="dot26" class="dot" data-map-index="1" style="left: 26.6%; top: 19.7%;"></div> 
        <div id="dot27" class="dot" data-map-index="1" style="left: 26%; top: 40.5%;"></div> 
        <div id="dot28" class="dot" data-map-index="1" style="left: 26.5%; top: 52.5%;"></div> 
        <div id="dot29" class="dot" data-map-index="1" style="left: 27.5%; top: 64.5%;"></div> 
        <div id="dot30" class="dot" data-map-index="1" style="left: 77%; top: 9%;"></div> 
        <div id="dot31" class="dot" data-map-index="1" style="left: 75.5%; top: 31.8%;"></div> 
        <div id="dot32" class="dot" data-map-index="1" style="left: 81.5%; top: 31%;"></div> 
        <div id="dot33" class="dot" data-map-index="2" style="left: 27.4%; top: 16%;"></div> 
        <div id="dot34" class="dot" data-map-index="2" style="left: 32.4%; top: 20%;"></div> 
        <div id="dot35" class="dot" data-map-index="2" style="left: 32%; top: 41%;"></div> 
        <div id="dot36" class="dot" data-map-index="2" style="left: 38.5%; top: 41%;"></div> 
        <div id="dot37" class="dot" data-map-index="2" style="left: 44.7%; top: 41%;"></div> 
        <div id="dot38" class="dot" data-map-index="2" style="left: 50.7%; top: 41%;"></div> 
        <div id="dot39" class="dot" data-map-index="2" style="left: 52.3%; top: 13%;"></div> 
        <div id="dot40" class="dot" data-map-index="2" style="left: 45%; top: 19.5%;"></div> 
        <div id="dot41" class="dot" data-map-index="2" style="left: 40.5%; top: 11.3%;"></div> 
        <div id="dot42" class="dot" data-map-index="2" style="left: 74%; top: 14.3%;"></div> 
        <div id="dot43" class="dot" data-map-index="2" style="left: 73.5%; top: 44%;"></div> 
        <div id="dot44" class="dot" data-map-index="2" style="left: 78.5%; top: 45%;"></div> 



    </div>
    
    <button id="next-map-btn">Next Floor</button>

    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
