<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>RoomFinder</h1>
        <p>Find available rooms easily!</p>
    </header>

    <div class="map-container">
        <img id="map" src="{{ url_for('static', filename='map1.jpg') }}" alt="Map 1">
    </div>
    
    <button id="next-map-btn">Next Floor</button>

   

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
